<!-- Signup.html -->

<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>About Page</title>
    <link rel="stylesheet" th:href ="@{/css/homeStyle.css}">
</head>
<body>

    <section th:replace ="home::section"></section>
   
  
    <form   action="" th:action="@{/process_form}"  method="post" th:object="${user}" >
    
    <div th:if="${signupStatus}" class="signup-status" th:text="${signupStatus}"></div>    

    
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required th:value="${user.name}">
    

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required th:value="${user.email}">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required  th:value="${user.password}">
     

    <button type="submit">Sign Up</button>
</form>
   

</body>
</html>
